fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pillow==10.4.0
rembg==2.0.59
trimesh==4.4.9
numpy==1.26.4
huggingface_hub==0.24.6
torch==2.4.1
torchvision==0.19.1
torch-directml==0.2.5.dev240914
einops==0.8.0
omegaconf==2.3.0
transformers==4.44.2
diffusers==0.30.3
accelerate==0.33.0
tqdm==4.66.5
scipy==1.14.0
scikit-image==0.24.0
